  $black-color: #191C1F;
  $dark-grey-color: #5E646A;
  $grey-color: #83898F;
  $midgrey-color: #C2C8CD;
  $light-grey-color: #ECEFF2;
  $extralight-grey-color: #F6F8FA;
  $white-color: #ffffff;
  $dangerous-color: #F13636;
  $success-color: #25CD82;
  $primary-color: #2A6CEA;
  $primary-disabled-color: #ABCAE6;
  $primary-hover-color: #397DFF;